@use './variables' as *;

// @mixin fontParagraph {
//     font-family: basic, sans-serif;
//     font-size: 18px;
//     transition: $animationSpeedNormal font-size;
//     color: $color1-solid;

//     * {
//         font-family: basic, sans-serif;
//         font-size: 18px;
//         transition: $animationSpeedNormal font-size;
//         color: $color1-solid;
//     }

//     @media (width <=$responsiveMedium) {
//         font-size: 18px;

//         & * {
//             font-size: 18px;
//         }
//     }

//     @media (width <=$responsiveSmall) {
//         font-size: 16px;

//         & * {
//             font-size: 16px;
//         }
//     }
// }

// @mixin fontHeading {
//     font-family: accent, monospace;
//     font-size: 52px;
//     transition: $animationSpeedNormal font-size;
//     color: $color1-solid;

//     * {
//         font-family: accent, monospace;
//         font-size: 52px;
//         transition: $animationSpeedNormal font-size;
//         color: $color1-solid;
//     }

//     @media (width <=$responsiveMedium) {
//         font-size: 38px;

//         & * {
//             font-size: 38px;
//         }
//     }

//     @media (width <=$responsiveSmall) {
//         font-size: 10vw;

//         & * {
//             font-size: 10vw;
//         }
//     }
// }

// @mixin fontSubHeading {
//     font-size: 36px;
//     font-family: accent, monospace;
//     transition: $animationSpeedNormal font-size;
//     color: $color1-solid;

//     * {
//         font-family: accent, monospace;
//         font-size: 36px;
//         transition: $animationSpeedNormal font-size;
//         color: $color1-solid;
//     }

//     @media (width <=$responsiveMedium) {
//         font-size: 24px;

//         & * {
//             font-size: 24px;
//         }
//     }

//     @media (width <=$responsiveSmall) {
//         font-size: 8vw;

//         & * {
//             font-size: 8vw;
//         }
//     }
// }

@mixin fontTitle {
    font-family: font, monospace;
    font-weight: 300;
    font-stretch: 110%;
    font-size: 9dvw;
    font-variant: normal;
    transition: 100ms;

    @media (width >=$responsiveExtraLarge) {
        font-size: 200px;
    }
    
    @media (width <=$responsiveMedium) {
        font-size: 8dvw;
    }

    @media (width <=$responsiveSmall) {
        font-size: 12dvw;
    }
}

@mixin linkAnimation {
    &:hover {
        filter: blur(2px);
    }

    transition: filter $animationSpeedSlow,
}