@use './variables' as *;

@mixin fontTitle {
    font-family: font, monospace;
    font-weight: 300;
    font-stretch: 110%;
    font-size: 9dvw;
    font-variant: normal;
    transition: 100ms;

    @media (width >=$responsiveExtraLarge) {
        font-size: 160px;
    }
    
    @media (width <=$responsiveMedium) {
        font-size: 8dvw;
    }
    
    @media (width <=$responsiveSmall) {
        font-size: 12dvw;
    }

}

@mixin linkAnimation {
    &:hover {
        filter: blur(2px);
    }

    transition: filter $animationSpeedSlow,
}