@use './variables' as *;

@mixin fontTitle {
    font-family: font, monospace;
    font-weight: 300;
    font-stretch: 110%;
    font-size: 105px;
    font-variant: normal;
    transition: 100ms;

    @media (width >=$responsiveExtraLarge) {
        font-size: 130px;
    }

    @media (width <=$responsiveLarge) {
        font-size: 10dvw;
    }

    @media (width <=$responsiveMedium) {
        font-size: 9dvw;
    }

    @media (width <=$responsiveSmall) {
        font-size: 11dvw;
    }

}

@mixin linkAnimation {
    &:hover {
        filter: blur(2px);
    }

    transition: filter $animationSpeedSlow,
}