@use './reset' as *;
@use './variables' as *;
@use './fonts' as *;
@use './mixins' as *;

* {
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: $colorForeground-alt3 $colorBackground-alt;
    scroll-behavior: smooth;
}

html, body {
    // overflow-x: hidden;
    background: $colorBackground;
    // user-select: none;
}
span, p {
    line-height: 1.2; // You will be glad because of this default line hight... you always forget it
}

::selection {
    color: $colorBackground-alt;
    background: $colorForeground-alt;
}

// Hide goofy debug color alts of images 
img {
    color: #F0F;
}

input, textarea, button, select, a {
    -webkit-tap-highlight-color: transparent;
}