////// BREAKPOINTS //////
$responsiveExtraSmall: 350px;
$responsiveSmall: 576px;
$responsiveMedium: 768px;
$responsiveLarge: 992px;
$responsiveExtraLarge: 1200px;

////// SPACES //////
$spaceExtraSmall: 4px;
$spaceSmall: 8px;
$spaceMedium: 16px;
$spaceLarge: 32px;
$spaceExtraLarge: 64px;

$colorBackground: #D9FF66;
$colorBackground-trans: #D9FF6677;
$colorBackground-alt: #222222;
$colorBackground-alt2: #FFFFFF;
$colorForeground: #222222;
$colorBackground-altTrans: #22222277;
$colorForeground-alt: #FFFFFF;
$colorForeground-alt2: #D9FF66;
$colorForeground-alt3: #5f6d38;

$animationSpeedExtraSlow: 700ms;
$animationSpeedSlow: 300ms;
$animationSpeedNormal: 150ms;
$animationSpeedFast: 80ms;
$animationSpeedExtraFast: 35ms;

$borderSize: 2px;

$maxwidth: 1600px;