@use '../styles/variables' as *;
@use '../styles/mixins' as *;

.symbolBox {
    text-align: center;
    font-family: font;
    font-size: 42px;
    font-style: normal;
    font-weight: 400;
    color: $colorForeground;
    width: 82px;
    height: 82px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: $borderSize $colorForeground solid;
    box-sizing: content-box;
    margin: calc($borderSize / -2);
    user-select: none;

    @media (width <=$responsiveMedium) {
        font-size: 34px;
        width: 100%;
        aspect-ratio: 1/1;;
        margin: calc($borderSize / -2);
    }

    &:hover {
        color: $colorForeground-alt;
        background: $colorBackground-alt;
    }
}