@use '../styles/variables' as *;
@use '../styles/mixins' as *;

.downloadSection {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: $spaceMedium;
        z-index: 3;
    }

    &__download {
        color: $colorForeground;
        text-align: center;
        font-family: font;
        font-size: 128px;
        font-style: normal;
        z-index: 3;
        font-weight: 550;
        transition: $animationSpeedFast font-stretch, $animationSpeedFast font-weight;

        @media (width <=$responsiveMedium) {
            font-size: 12vw;
        }

        @media (width <=$responsiveSmall) {
            font-size: 13.5vw;
        }

        &:hover {
            font-stretch: 109%;
            font-weight: 900;
        }
    }

    &__links {
        font-size: 36px;
        color: $colorForeground;
        font-family: font;
        font-style: normal;
        font-weight: 500;
        display: flex;
        z-index: 3;
        gap: $spaceSmall;

        @media (width <=$responsiveMedium) {
            font-size: 4.5vw;
        }

        @media (width <=$responsiveSmall) {
            font-size: 5vw;
        }

        & a {
            font-size: 36px;
            font-family: font;
            color: $colorForeground;
            font-style: normal;
            font-weight: 500;
            transition: $animationSpeedFast;

            @media (width <=$responsiveMedium) {
                font-size: 4.5vw;
            }

            @media (width <=$responsiveSmall) {
                font-size: 5vw;
            }

            &:hover {
                @include linkAnimation
            }
        }
    }

    &__license {
        font-family: font;
        font-size: 20px;
        color: $colorForeground;
        font-style: normal;
        font-weight: 400;
        transition: $animationSpeedFast;
        z-index: 3;

        @media (width <=$responsiveMedium) {
            font-size: 3vw;
        }

        @media (width <=$responsiveSmall) {
            font-size: 4vw;
        }

        &:hover {
            @include linkAnimation
        }

    }

    &__circle {
        position: absolute;
        z-index: 0;
        display: flex;
        width: 100vh;
        animation: downloadSectionRotate 10000ms infinite forwards linear;

        @keyframes downloadSectionRotate {
            from {
                rotate: 0deg
            }

            to {
                rotate: 360deg
            }
        }
    }

    &__grid {
        position: absolute;
        // background: linear-gradient(transparent 30px, $colorBackground 30px, $colorBackground 40px) 40px 40px / 40px 40px repeat;
        // mask: linear-gradient(90deg, transparent 30px, $colorBackground 30px, $colorBackground 40px) 40px 40px / 40px 40px repeat;
        background: linear-gradient(transparent 0px, $colorBackground 16px) 16px 16px / 16px 16px repeat;
        z-index: 1;
        display: flex;
        width: 100vh;
        height: 100vh;
    }
}