@use '../styles/variables' as *;
@use '../styles/mixins' as *;

.homeSection {
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    z-index: 2;
    overflow: hidden;

    &__heading {
        width: fit-content;
        padding-bottom: $spaceExtraLarge;
        margin-bottom: $spaceExtraLarge;
        z-index: 1;
    }

    &__heading * {
        @include fontTitle;
        color: $colorForeground;
        padding-top: 5px; // Fix animejs dumb overflow clip
        padding-bottom: 5px; // Fix animejs dumb overflow clip
    }

    &__circle {
        position: absolute;
        z-index: 0;
        display: flex;
        width: 100vh;
        animation: homeSectionCircleRotate 3500ms infinite forwards linear;

        @keyframes homeSectionCircleRotate {
            from {
                rotate: 0deg
            }

            to {
                rotate: 360deg
            }
        }
    }

    &__grid {
        position: absolute;
        // background: linear-gradient(transparent 30px, $colorBackground 30px, $colorBackground 40px) 40px 40px / 40px 40px repeat;
        // mask: linear-gradient(90deg, transparent 30px, $colorBackground 30px, $colorBackground 40px) 40px 40px / 40px 40px repeat;
        background: linear-gradient(transparent 0px, $colorBackground 16px) 16px 16px / 16px 16px repeat;
        z-index: 1;
        display: flex;
        width: 100vh;
        height: 100vh;
    }

    &__arrow {
        position: absolute;
        bottom: $spaceExtraLarge;
        width: 80px;
        height: 80px;
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: background $animationSpeedNormal;
        opacity: 0;
        animation: homeSectionArrow 1000ms forwards cubic-bezier(0.66, 0, 0.435, 1.7) 2000ms;

        @media (width <=$responsiveSmall) {
            bottom: calc($spaceExtraLarge * 2);
        }

        @keyframes homeSectionArrow {
            from {
                opacity: 0;
                translate: 0 -50px;
            }

            to {
                opacity: 1;
                translate: 0 0;
            }
        }

        &:hover {
            background: $colorBackground-alt2;
        }
    }
}